body{
    font-family: 'Poppins', sans-serif!important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}
.navbar-section a.nav-link {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
}
.bg-secondary{
    background-color: #171717!important;
}
.text-primary {
    color: #f7ca18!important;
}
.heading-lg {
    font-size: 2rem;
    font-weight: 800;
}
.heading-md{
    font-size: 21px;
    font-weight: 700;
}
.heading-sm{
    font-size: 16px;
    font-weight: 700;
}
.para-lg {
    font-size: 18px;
    font-weight: 600;
}
.para-md {
    font-size: 16px;
    font-weight: 400;
}
.para-sm {
    font-size: 14px;
    font-weight: 400;
}

.banner-section-start .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 50%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.banner-second-heading {
    background-color: #ffc53282;
    margin-right: 10%;
}
.banner-first-heading {
    background-color: #ff933278;
    margin-left: 10%;
}
.home-section-2 .card:hover .services_icon{
    background: #f7ca18;

}
.services_icon {
    background: #f3f3f3;
    margin: 0 auto;
    display: table;
    -webkit-transition: background .2s,color .2s;
    -o-transition: background .2s,color .2s;
    transition: background .2s,color .2s;
}
.services_icon {
    display: inline-block;
    font-size: 30px;
    line-height: 90px;
    cursor: pointer;
    margin: 15px 30px;
    width: 90px;
    height: 90px;
    text-align: center;
    position: relative;
    color: #999;
    z-index: 1;
    border: 2px solid #f7ca18;
    border-radius: 50%;
}

.services_icon:hover {
    background: #f7ca18;
    color: #ebe8e8;
}

.service-section{
    background-color: #acacac29!important;
}
.service-card {
    border-left: 2px solid #f7ca18!important;
    border-bottom: 2px solid #f7ca1812!important;

    border-radius: 0%;
}
.service-card .card-body {
    border:2px solid #f7ca18;;
}
.service-card:hover .card-body{
    background-position: 0 0;
    color:#333;
}

.service-card .card-body{
    background: #f5f5f5;
   color:black;
    display: block;
    background-image: linear-gradient(to left,
      transparent,
      transparent 50%,
      #f7ca18 50%,
      #f7ca18);
    background-position: 100% 0;
      background-size: 200% 100%;
      transition: all .25s ease-in;
  }
  .client-img-container {
    height: 8rem!important;
    width : auto;
        margin-right: 2rem;
        margin-left: 2rem;
  }

  .client-img-container img {
    max-height: 100%!important;
    max-width: 100%!important;

  }

  /* **owl crousal css*** */
  .owl-dots {
    text-align: center;
    height: 18px;
    line-height: 10px;
}
.owl-dots button {
    background: #f7ca186b !important;
    height: 3px;
    width: 15px;
    display: inline-block;
    margin-right: 4px;
    transition: 0.5s;
    border-radius: 10rem;
}
/* .owl-stage-outer {
    margin-right: 2rem;
    margin-left: 2rem;
} */
.review-section .owl-dots button.owl-dot.active {
    background: #f7ca18 !important;
    width: 30px !important;
}
.review-section .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-50%);
}
.review-section .owl-carousel .owl-nav button.owl-next, .review-section .owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    background-color: #f7ca18!important;
    width: 30px!important;
    height: 30px!important;
    border-radius: 50%!important;
}

.client-section .owl-dots button.owl-dot.active {
    background: #f7ca18 !important;
    width: 30px !important;
}
.client-section .owl-nav {
    position: absolute;
    top: 0%;
    left: 100%;
    /* width: 100%; */
    display: flex;
    align-items: center;
    transform: translateY(-50%);
}

.client-section .owl-carousel .owl-nav button.owl-next, .client-section .owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    background-color: #f7ca18!important;
    width: 30px!important;
    height: 30px!important;
    margin: 2px;
}

section.customer-support .row {
    min-height: 10rem;
    background-color: #f7ca18;
}